extends /_layouts/_page
block append script
  script(type='text/javascript' src=assetPath('/assets/showdown.js'))
  script(type='text/javascript' src=assetPath('/assets/prism.js'))
  script(type='text/javascript' src=assetPath('/assets/prism-typescript.js'))
  script(type='text/javascript' src=assetPath('/assets/mithril.js'))
  script(type='text/javascript' src='./index.js')
mixin tree(list)
  each child in list
    .list-group.list-group-flush(role="tablist")
      - var hasChildren = child.children && child.children.length
      - var subList = child.children || []
      a.list-group-item(
        class=hasChildren ? 'list-group-title' : ''
        href='#' + child.urlPath.replace(meta.urlPath, '')
        data-data=metadata(child))
        if hasChildren
          h5= child.linkTitle
        else
          = child.linkTitle
      +tree(subList)
block content
  .example-page
    .example-nav.bg-white
      +tree(children(meta.file, { deep: true, ext: ['.pug']}))
    .example-nav-overlay
    .example-container
      .example-toolbar
        a.example-button-menu
        a.example-button-prev
        .example-title
        a.example-button-next
      .example-content
