extends /_layouts/_page
block append script
  script(type='text/javascript' src=assetPath('/assets/showdown.js'))
  script(type='text/javascript' src=assetPath('/assets/prism.js'))
  script(type='text/javascript' src=assetPath('/assets/prism-typescript.js'))
  script(type='text/javascript' src=assetPath('/assets/mithril.js'))
  script(type='text/javascript' src='./index.js')
block content
  .example-page
    .example-nav.bg-white
      each child in meta.children
        .list-group.list-group-flush(role="tablist")
          a.list-group-item.list-group-title()&attributes({ href: '#' + child.path.replace(meta.path, ''), "data-data": child })
            h5()= child.linkTitle
          each grandChild in childrenOf(child)
            a.list-group-item()&attributes({ href: '#' + grandChild.path.replace(meta.path, ''), "data-data": grandChild })= grandChild.linkTitle
    .example-container
      .example-toolbar.shadow
        a.example-button-menu
        a.example-button-prev
        .example-title
        a.example-button-next
      .example-content
